{extend name="/base"/}
{block name="main"}
<style>.am-u-sm-9{margin-top:4px;}.am-form-horizontal .am-form-label{text-align:left;}.tpl-amazeui-form .am-form-label{color:#000000;}[class*=am-u-] + [class*=am-u-]:last-child{float:right;font-size:14px;margin-top:8px;color:#999;}</style>
<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-file-text"></span> 帖子详情
        </div>
        {if $list.whether_delete==0}
        <div style="text-align: right">
            <a href="{:url('index')}" target="_blank">
                <button type="button" class="am-btn am-btn-default am-btn-sm">帖子列表</button>
            </a>
            <button type="button" class="am-btn am-btn-danger am-btn-sm" onclick="satypical('3');">删除此贴</button>
        </div>
        {/if}
    </div>
    <div class="tpl-block ">
        <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-12 am-u-md-12">
                <div class="am-form am-form-horizontal" style="border: solid 1px #cccccc;width: 700px;margin: 0 auto;padding-left: 10%;padding-top: 20px;overflow: hidden;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);">
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">圈子名称</label>
                        <div class="am-u-sm-9">{$list.realm_name}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖用户</label>
                        <div class="am-u-sm-9">{$list.user_nick_name|emoji_decode|filter_emoji}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖标题</label>
                        <div class="am-u-sm-9" style="max-height:300px;overflow:auto;">
                            {if $list.study_title!=''}
                                {$list.study_title|emoji_decode}
                            {else}
                                无
                            {/if}
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">帖子类型</label>
                        <div class="am-u-sm-9">
                            {if $list.study_type==0}图文{elseif $list.study_type==1}语音{elseif $list.study_type==2}视频{/if}
                        </div>
                    </div>
                    {notempty name="list.study_content"}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖内容</label>
                        <div class="am-u-sm-9" style="max-height:300px;overflow:auto;">
                            {$list.study_content|emoji_decode}
                        </div>
                    </div>
                    {/notempty}
                    {notempty name="list.image_part"}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖图片</label>
                        <div class="am-u-sm-9" style="max-height:300px;overflow:auto;">
                            {volist name="list.image_part" id="vo"}
                            <a href="{$vo}" target="_blank">
                                <img src="{$vo}" style="width: 100px;height: 100px;margin: 3px;"/>
                            </a>
                            {/volist}
                        </div>
                    </div>
                    {/notempty}
                    {notempty name="list.study_voice"}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖语音</label>
                        <div class="am-u-sm-9">
                            <audio controls="controls" style="width: 80%;">
                                <source src="{$list.study_voice}" type="audio/mpeg">
                                您的浏览器不支持音频标签。
                            </audio>
                        </div>
                    </div>
                    {/notempty}
                    {notempty name="list.study_video"}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发帖视频</label>
                        <div class="am-u-sm-9">
                            <video controls="controls" style="width: 80%;height: 350px;">
                                <source src="{$list.study_video}" type="video/mp4">
                                您的浏览器不支持视频标签。
                            </video>
                        </div>
                    </div>
                    {/notempty}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">浏览次数</label>
                        <div class="am-u-sm-9">{$list.study_heat}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">点赞人数</label>
                        <div class="am-u-sm-9">{$list.study_laud}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">回复人数</label>
                        <div class="am-u-sm-9">{$list.study_repount}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">发布时间</label>
                        <div class="am-u-sm-9">{:date('Y-m-d H:i:s',$list.adapter_time)}</div>
                    </div>
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">审核状态</label>
                        <div class="am-u-sm-9">
                            {if $list.study_status==0}
                            <span class="am-text-warning">待审核</span>
                            {elseif $list.study_status==1}
                            <span class="am-text-success">已通过</span>
                            {elseif $list.study_status==2}
                            <span class="am-text-secondary">已打回</span>
                            {/if}
                        </div>
                    </div>
                    {notempty name="list.prove_time"}
                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">审核时间</label>
                        <div class="am-u-sm-9">{:date('Y-m-d H:i:s',$list.prove_time)}</div>
                    </div>
                    {/notempty}
                    {if $list.study_status==0}
                    <div class="am-form-group">
                        <div class="am-u-sm-9">
                            <button type="button" class="am-btn am-btn-success am-btn-sm  am-round"
                                    style="margin-right: 120px;" onclick="satypical('1');">通过
                            </button>
                            <button type="button" class="am-btn am-btn-warning am-btn-sm  am-round"
                                    onclick="satypical('2');">
                                打回
                            </button>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

    function satypical(pical) {
        var uata = {};
        uata['uplid'] = '{$list.id}';
        uata['pical'] = pical;
        if (pical == 1) {
            layer.confirm("您确定同意通过审核吗？", {
                btn: ['确定', '取消']
            }, function () {
                equitable(uata);
            }, function () {
                layer.closeAll();
            });
        } else {
            if (pical == 2) {
                var peason = "请您输入打回原因：";
            } else if (pical == 3) {
                var peason = "请您输入删帖原因：";
            }
            layer.prompt({'title': peason}, function (rea_value, index) {
                if (rea_value == '' || rea_value == 'undefined' || rea_value == null) {
                    return false;
                }
                uata['reason'] = rea_value;
                equitable(uata);
                layer.close(index);
            });
        }
    }


    function equitable(uata) {
        $.ajax({
            type: "post",
            url: "{:url('essay/setails')}",
            data: uata,
            dataType: 'json',
            traditional: true,
            success: function (data) {
                if (data.code > 0) {
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg(data.msg, {icon: 5, time: 2000}, function () {
                        location.reload();
                    });
                }
            }
        });
    }


</script>
{/block}