<!DOCTYPE html>
<html lang="en" style="font-size: 32px;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script src="{ASSETS_PATH}js/zepto.min.js"></script>
    <title>我的收藏</title>
    <link rel="stylesheet" href="{ASSETS_PATH}css/swiper.min.css">
    <script src="{ASSETS_PATH}js/swipe.js"></script>
    <script src="{ASSETS_PATH}js/iscroll.js"></script>
    <link rel="stylesheet" href="{ASSETS_PATH}css/weui.css"/>
    <link rel="stylesheet" href="{ASSETS_PATH}css/weui2.css"/>
    <script src="{ASSETS_PATH}js/layer/layer.js"></script>
    {php echo register_jssdk(false);}
    <script>
        wx.ready(function () {
            sharedata = {
                title: '{$set['title']}',
                desc: '{$set['miaoshu']}',
                link: '',
                imgUrl: '{php echo tomedia($set['logo'])}',
                success: function(){
                    $.ajax({
                        url : '{php echo $this->createMobileUrl('Index',array('action'=>'share'))}',
                        type:"post",
                        data:{
                            id : {$res['id']}
                        }, success: function (res) {
                            if(res==1) {
                                layer.msg('分享成功', {time:2000})
                            }else{
                                layer.msg('分享失败', {time:2000})
                            }
                        }
                    });
                },
                cancel: function(){
                    layer.msg('分享失败', {time:4000})
                }
            };
            wx.onMenuShareAppMessage(sharedata);
            wx.onMenuShareTimeline(sharedata);
        });
    </script>
    <style>
        .slide .dot .cur {background-color:#ff9000;border:1px solid #ff9000}
        a {text-decoration:none;out-line: none;color:#666; }
        .comment h3 { height: 28px; line-height: 28px }
        .com_form p { height: 28px; line-height: 28px; position: relative; margin-top: 10px; }
        .qqFace table td { padding: 0px; }
        .qqFace table td img { cursor: pointer; border: 1px #fff solid; }
        .qqFace table td img:hover { border: 1px #0066cc solid; }

    </style>
    {php echo register_jssdk(false);}
    <style>
        .footer {position: fixed;bottom: 0;background-color:white;height:50px;width:100%;text-align: center;border-top:1px solid #eee;font-size:14px;padding:2px 0 0 0;}
        *{
            margin:0;
            padding:0;
        }
        a{text-decoration: none;color: #666;border: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;}
        input{outline: none;border: none;background: transparent;}
        ul,ol{list-style: none;}
        button{background: none;border:none;}
        .search ::-webkit-input-placeholder{
            font-size: .32rem;
            color: #fff
        }
        .announceItem{
            padding: .283rem 0 .283rem .34rem;
            color: #3b3b3b;
            display: block;
            border-bottom:1px solid #ebebeb;
        }
        .announceTag{,
        width: .747rem;
            margin-right: .16rem;
            padding: .067rem;
            text-align: center;
            color: #fefefe;
            font-size:12px;
            line-height: 1;
            background: #ff9000;
            border-radius: 2px;
        }
        .warn{background: red;}
        .pad_right{ padding-right:2em;}
        #scroll_div {height:26px;overflow: hidden;white-space: nowrap;width:100%;margin-left:20px;margin-top: -20px;}
        #scroll_begin,#scroll_end {display: inline;}
        .nav ul li a:not(:nth-of-type(4n)){margin-right: .32rem;}
        .nav ul li a:active{background:#ff9000;color: #fff;}
        .listItem:not(:last-of-type){
            margin-bottom: .213rem;
        }
        .listItem-head{
            position: relative;
            padding:.48rem .32rem .32rem;
            font-size: 0;
        }
        .listItem-content{
            position: relative;
            display: block;
            width: 100%;
            color: #3b3b3b;
        }
        .weui-navigator-list li a {font-weight:100;font-size:14px;}
        .weui-navigator-list li.weui-state-active a{color:#666;font-weight:100;font-size:14px;}
        .weui-navigator-list li.weui-state-active a:after{background-color:#666;font-weight:100;}
        .weui-comment-icon{border:none;}
        ul li {list-style: none;}
        .top {position:fixed;top:0;width:100%;height:50px;line-height:50px;text-align:center;background-color:white;color:black;}
    </style>
</head>
<input id="uopenid" type="hidden" value="{$uopenid}">
<body style="font-size: 12px;background-color:white;">
<div class="head" style="background-color:#ff9000">
    <div style="" align="center">
        <span><img src="{$user['avatar']}" width="80px" height="80px" style="margin-top:30px;border-radius:80px;"></span><br>
        <span style="color:white">{$user['nickname']} </span>
    </div>
</div>

<div>
    <ul id="zhengwen">

        {loop $row $v}
        <li class="listItem" style="border-bottom:7px solid #eee;">
            <div class="listItem-head">
                <a href="{php echo $this->createMobileUrl('Index',array('action'=>'other','openid'=>$v['col']['openid']))}" style="width: 1.2rem;height: 1.2rem;float: left;margin-right: .213rem;position:relative;"><img src="{$v['col']['avatar']}" alt="" style="width: 100%;height: 100%;border-radius: 50%;"></a>
                <div style="height: 1.2rem;">
                    <p>
                        <span style="margin-right:5px;color: #111;font-size:15px">{$v['col']['nickname']}</span>
                        {if $v['huiyuan'] == 1}
                        <span><img src="{ASSETS_PATH}img/huiyuan2.png" style="width:13px;"></span>
                        {/if}
                        <!--<span style="color: #ffb135;font-size:12px;margin-right: .32rem;">版主</span>-->
                        <!--<span style="color: #ffb135;font-size:12px;margin-right:.32rem;margin-left:10px;">LV.{$v['lv']}</span>-->
                    </p>
                    <p>
                        <span style="display: inline-block;min-width: 1.33rem;padding: .03rem .16rem;font-size: .290rem;text-align: center;color: #fff;background:-webkit-linear-gradient(left,#ff9000,#ff5000) no-repeat;border-radius: .4rem;margin-right: .32rem;">{$v['col']['fenlei']}</span>
                        <span style="color: #999;font-size: .38rem;margin-right: .32rem;">{$v['col']['time']}</span>
                        <span style="color: #999;font-size: .38rem;margin-right: .32rem;">{$v['col']['looks']}浏览</span>
                    </p>
                    <!--<div style="position:absolute;top: 0;right: 16%;font-size: 0;z-index: 5;">
                        <span style="position:relative;display: inline-block;width: .56rem;height: .586rem;font-size: .32rem;color: #fff;margin-right: .213rem;"><img src="{ASSETS_PATH}img/ding.png" alt=""></span>
                        <span style="position:relative;display: inline-block;width: .56rem;height: .586rem;font-size: .32rem;color: #fff;margin-right: .213rem;"><img src="{ASSETS_PATH}img/ding.png" alt=""></span>
                    </div>-->
                </div>
            </div>

            <div class="listItem-content" style="width: 100%;box-sizing: border-box;">
                <a href="{php echo $this->createMobileUrl('Index',array('action'=>'info','id'=>$v['col']['id']))}">
                    <div class="listItem-contentInfo" style="margin-right:10px;margin-bottom: .267rem;margin-left:25px;">
                        <!--<h4 style="font-size:16px;margin-bottom: .16rem;font-weight: normal;color: #111;"><span>{$v['title']}</span></h4>-->
                        <p style="text-overflow: ellipsis;display: -webkit-box;overflow: hidden;font-size:15px;line-height: .6rem;color:#666;margin-right:10px;">{$v['col']['info']}</p>
                        <div style="width:100%">
                            <ul>
                                {loop $v['col']['images'] $k}
                                {if isset($k['name'])}
                                <li style="float:left;width:32%;margin-right:1.2%;max-height:110px;overflow: hidden;">
                                    <img src="{php echo $k['name']}" style="width:100%;padding-top:5px;height: auto;">
                                </li>
                                {else}
                                <li style="float:left;width:32%;margin-right:1.2%;max-height:110px;overflow: hidden;">
                                    <img src="{php echo tomedia($k)}" style="width:100%;padding-top:5px;height: auto;">
                                </li>
                                {/if}
                                {/loop}
                            </ul>
                        </div>
                    </div>
                </a>
                <div style="clear:both;"></div>
                {if $v['video']!=''}
                <video width="80%" height="200px" style="margin-left:20px;background-color: #666;" controls>
                    <source src="{$v['video']}" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg" />
                </video>
                {/if}
                {if $v['col']['address']!=''}
                <div style="vertical-align: middle;line-height:35px;margin-left:20px">
                    <div style="float:left;margin-top:3px;height:25px;">
                        <img src="{ASSETS_PATH}img/location.png" alt="" style="width:14px;">
                    </div>
                    <span style="font-size:12px;color: #999;margin-left:3px;">{$v['col']['address']}</span>
                </div>
                {/if}
                <div style="border-bottom:1px solid #eee;"></div>
                <div class="weui-flex" style="padding: .213rem 0;">
                    <div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">
                        <a href="{php echo $this->createMobileUrl('user',array('action'=>'quxiao','id'=>$v['id']))}">
                            <img src="{ASSETS_PATH}img/zhuanfa.png" alt="" style="width:20px;vertical-align: middle;">
                            <span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">取消收藏</span>
                        </a>
                    </div>
                    <!--<div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">-->
                        <!--<a href="javascript:;">-->
                            <!--<img src="{ASSETS_PATH}img/zhuanfa.png" alt="" style="width:20px;vertical-align: middle;">-->
                            <!--<span style="font-size: .373rem;color:#515151;vertical-align: middle;line-height: 1;">{$v['share']}</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">
                        <a href="{php echo $this->createMobileUrl('Index',array('action'=>'dashang','id'=>$v['col']['id']))}">
                            <img src="{ASSETS_PATH}img/dashang.png" alt="" style="width:20px;vertical-align: middle;">
                            <span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">打赏</span>
                        </a>
                    </div>
                    <div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">
                        <a href="javascript:;" {if $v['col']['dianzan']!=''}class="checked"{/if}>
                        <img src="{ASSETS_PATH}img/dianzan.png" onclick="redict({$v['id']},this)" style="width:20px;vertical-align: middle;">
                        <span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">{$v['col']['zan']}</span>
                        </a>
                    </div>
                    <div class="weui-flex-item" style="text-align: center;">
                        <div href="javascript:;" onclick="huifu({$v['col']['id']})" >
                            <img src="{ASSETS_PATH}img/pinglun.png" alt="" style="width:20px;vertical-align: middle;">
                            <span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;display: inline-block;">{$v['col']['pl']}</span>
                        </div>
                        <input value="{$v['id']}" hidden>
                    </div>
                </div>
            </div>
        </li>

        {/loop}
    </ul>
</div>
<!--评论-->
<form id="post_form" action="{php echo $this->createMobileUrl('Index',array('action'=>'pinglun'))}" method="post">
    <div class="panel" style="position: fixed;bottom: 0;left: 0;width: 100%;height: 100%;background: #fff;z-index:99;display: none;">
        <div class="top" style="font-size:14px;">
            <div onclick="location.href='{php echo $this->createMobileUrl('Index')}'" style="position: absolute;left:10px;">取消</div>
            <div onclick="doUpload()" style="position: absolute;right:10px;color:white;"><span style="background-color: #ff9000;padding:4px 12px;border-radius:20px;">发表</span></div>
            <span style="font-size:15px;">评论</span>
        </div>
        <div style="height: 10px;background: #ccc;"></div>
        <div class="weui_cells weui_cells_form" style="margin-top:40px;width: 100%;box-sizing: border-box;">
            <div class="weui_cell" style="border-top:10px solid #eee;">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea id="saytext" name="info" class="weui_textarea" placeholder="你是如何看待这个问题的" rows="3" style="min-height: 200px;width: 100%;outline: none;border: none;"></textarea>
                </div>
            </div>
        </div>
        <div style="background:#eee;width: 100%;text-align: left;line-height: inherit;">
            <a href="#"><img onclick="upload_img()" src="{ASSETS_PATH}img/tp.png" style="width:28px;height:28px;margin-left:20px;"></a>
            <span><img class="emotion" src="{ASSETS_PATH}img/bq.png" style="width:28px;height:28px;margin-left:10px;"></span>
        </div>
        <input hidden name="tid" id="tid">
        <input type="hidden" name="images" value="">
        <div class="weui_uploader_bd" style="border-bottom: solid 1px #eee; margin-top: 10px; margin-left: 10px; display: none">
            <ul class="weui_uploader_files">
            </ul>
            <div class="weui_uploader_input_wrp" onclick="upload_img()">
                <input class="weui_uploader_input" multiple="" id="img" type="button">
            </div>
        </div>
    </div>
</form>


<div style="height:50px;color:white;">1</div>
<div class="footer" style="z-index: 9999">
    <ul id="dian">
        <a href="{php echo $this->createMobileUrl('Index',array('action'=>''))}" style="text-decoration:none;color:black;">
            <li style="float: left;width:25%;line-height:14px;margin-bottom:5px;">
                <img src="{ASSETS_PATH}img/shouye.png" width="25px" height="25px" style="margin-top:4px;"><br>
                <span style="font-size:12px;color:#707070;">首页</span>
            </li>
        </a>
        <a href="{php echo $this->createMobileUrl('User',array('action'=>'opinion'))}" style="text-decoration:none;color:black;">
            <li style="float: left;width:25%;line-height:14px;margin-bottom:5px;">
                <img src="{ASSETS_PATH}img/dongtai.png" width="25px" height="25px" style="margin-top:4px;"><br>
                <span style="font-size:12px;color:#707070;">反馈</span>
            </li>
        </a>
        <a href="{php echo $this->createMobileUrl('Index',array('action'=>'fatie'))}" style="text-decoration:none;color:black;">
            <li style="float: left;width:25%;line-height:14px;margin-bottom:5px;">
                <img src="{ASSETS_PATH}img/fabu.png" width="25px" height="25px" style="margin-top:4px;"><br>
                <span style="font-size:12px;color:#707070;">发帖</span>
            </li>
        </a>
        <a href="{php echo $this->createMobileUrl('Index',array('action'=>'user'))}" style="text-decoration:none;color:black;">
            <li style="float: left;width:25%;line-height:14px;margin-bottom:5px;">
                <img src="{ASSETS_PATH}img/wode.png" width="25px" height="25px" style="margin-top:4px;"><br>
                <span style="font-size:12px;color:#707070;">我的</span>
            </li>
        </a>
    </ul>
</div>
</body>
<script type="text/javascript">

    //    点赞

    function redict(tid,obj) {
        event.preventDefault();
        //接下来使用js代码进行页面跳转
        $.ajax({
            url : '{php echo $this->createMobileUrl('Index',array('action'=>'zan'))}',
            type:"post",
            data:{
                tid : tid
            }, success: function (res) {
                if(res==2) {
                    $(obj).parent().addClass('checked');
                    var  val = $(obj).next().html();
                    $(obj).next().html(parseInt(val)+1);
                    layer.msg('点赞成功', {time:1000})
                }else{
                    layer.msg('您已经赞过了', {time:1000})
                }
            }
        });
    }
    $(".review").click(function () {
        var aa=$(this).next().val();
        $("#tid").val(aa);
        $(".panel").css("display","block");
    })
    $(".close").click(function () {
        $(".panel").css("display","none");
    })

</script>
</html>
<script src="https://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
<script src="{ASSETS_PATH}js/layer/layer.js"></script>

<script>
    var sroltop = 0;  //用来监听当前的加载事件是否在执行
    var page=1;
    var cid;

    cid=$('#uopenid').val();

    // $(window).scroll(function(){
    //
    //     var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
    //     totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
    //
    //     if(($(document).height()) <= totalheight) {
    //
    //         if(sroltop == 0)
    //         {
    //             //alert(totalheight);
    //             page+=1
    //             var index = layer.load(1, {
    //                 shade: [0.1,'#fff'] //0.1透明度的白色背景
    //             });
    //
    //             load_data();
    //         }
    //     }
    // });

    function load_data() {
        sroltop = 1;
        var title='{$_GPC['title']}';
        $.ajax({
            url : "{php echo $this->createMobileUrl('user',array('action'=>'load_data'))}",
            type:"post",
            data:{
                page : page,
                title : title,
                fenlei : cid
            }, success: function (res) {
                //alert(res);
                layer.closeAll();
                if(res!=0) {
                    sroltop = 0;
                    var data = $.parseJSON(res);

                    var html = '';
                    $.each(data,function (k,v) {
                        var img='';
                        var video='';
                        var aa='';
                        var huiyuan='';
                        var dizhi='';

                        $.each(v.images,function (a,b) {
                            if(b.name !=null){
                                img+= '<div style="width:100%;"><ul><li style="float:left;width:32%;margin-right:1.2%;max-height:110px;overflow: hidden;"><img src="{php echo "'+b.name+'"}" style="width:100%;padding-top:5px;height: auto;"></li></ul></div>'
                            }else{
                                img+= '<div style="width:100%;"><ul><li style="float:left;width:32%;margin-right:1.2%;max-height:110px;overflow: hidden;"><img src="{php echo tomedia("'+b+'")}" style="width:100%;padding-top:5px;height: auto;"></li></ul></div>'
                            }

                        });

                        // if(v.video!=''){
                        //     video='<div style="width:88%;padding-left:25px;"><video width="100%" height="200px" style="background-color: #666;margin-top:5px;" controls> ' +
                        //         '<source src="'+ v.video+'" type="video/mp4"><source src="movie.ogg" type="video/ogg" /></video></div>'
                        // }
                        if(v.huiyuan==1){
                            huiyuan='<span><img src="{ASSETS_PATH}img/huiyuan2.png" style="width:13px;margin-right:4px;"></span>'
                        }
                        if(v.dianzan!=''){
                            aa='<a href="javascript:;" class="checked">'
                        }else{
                            aa='<a href="javascript:;">'
                        }
                        console.log(v.address);
                        if( v.address !='' ){
                            dizhi+='<div style="vertical-align: middle;line-height:35px;"><div style="float:left;margin-top:3px;height:25px;margin-left:20px"><img src="{ASSETS_PATH}img/location.png" alt="" style="width:14px;"></div>' +
                                '<span style="font-size:12px;color: #999;margin-left:2px;">'+ v.address+'</span></div></div>'

                        }

                        html+='<li class="listItem" style="border-bottom:7px solid #eee;"><div class="listItem-head">' +
                            '<a href="#" style="width: 1.2rem;height: 1.2rem;float: left;margin-right: .213rem;position:relative;"><img src="'+ v.avatar+'" alt="" style="width: 100%;height: 100%;border-radius: 50%;"></a> ' +
                            '<div style="height: 1.2rem;"><p><span style="margin-right:5px;color: #111;font-size:15px">' +
                            ''+ v.nickname+'</span>'+huiyuan+'<!--<span style="color: #ffb135;font-size:12px;margin-right: .32rem;">版主</span>-->' +
                            '<span style="color: #ffb135;font-size:12px;margin-right: .32rem;"></span></p><p>' +
                            '<span style="display: inline-block;min-width: 1.33rem;padding: .03rem .16rem;font-size: .290rem;text-align: center;color: #fff;background:-webkit-linear-gradient(left,#ff9000,#ff5000) no-repeat;border-radius: .4rem;margin-right: .32rem;">'+v.fenlei+'</span> ' +
                            '<span style="color: #999;font-size: .38rem;margin-right: .32rem;">'+ v.time+'</span> ' +
                            '<span style="color: #999;font-size: .38rem;margin-right: .32rem;">'+ v.looks+'浏览</span></p>' +
                            '<div style="position:absolute;top: 0;right: 16%;font-size: 0;z-index: 5;">' +
                            /*'<span style="position:relative;display: inline-block;width: .56rem;height: .586rem;font-size: .32rem;color: #fff;margin-right: .213rem;"><img src="{ASSETS_PATH}img/ding.png" alt=""></span> ' +
                             '<span style="position:relative;display: inline-block;width: .56rem;height: .586rem;font-size: .32rem;color: #fff;margin-right: .213rem;"><img src="{ASSETS_PATH}img/ding.png" alt=""></span> ' +*/
                            '</div></div></div><div class="listItem-content" style="width: 100%;box-sizing: border-box;">' +
                            '<a href="{php echo $this->createMobileUrl('Index',array('action'=>'info'))}&id='+ v.id+'"><div class="listItem-contentInfo" style="margin-right:10px;margin-bottom: .267rem;margin-left:25px;">' +
                        '<h4 style="font-size:16px;margin-bottom: .16rem;font-weight: normal;color: #111;">' +
                        // '<span>'+ v.title+'</span></h4>'+
                        '<p style="text-overflow: ellipsis;display: -webkit-box;overflow: hidden;font-size:15px;line-height: .6rem;color: #666;margin-right:10px;">'+ v.info+'</p>'+img+'</div><div style="clear:both"></div></a> ' +dizhi+
                        '<div style="border-bottom:1px solid #eee;"></div><div class="weui-flex" style="padding: .213rem 0;">' +
                        '<div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;"><a href="javascript:;">' +
                        '<img src="{ASSETS_PATH}img/zhuanfa.png" style="vertical-align: middle;width:20px;">' +
                        '<span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">'+ v.share+'</span></a></div> ' +
                        '<div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">' +
                        '<a href="{php echo $this->createMobileUrl('Index',array('action'=>'dashang'))}&id='+ v.id+'">' +
                        '<img src="{ASSETS_PATH}img/dashang.png" alt="" style="width:20px;vertical-align: middle;">' +
                        '<span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">打赏</span></a></div> ' +
                        '<div class="weui-flex-item" style="text-align: center;border-right:1px solid #eee;">'+aa+'' +
                        '<img src="{ASSETS_PATH}img/dianzan.png" alt="" onclick="redict('+ v.id+',this)" style="width:20px;vertical-align: middle;">' +
                        '<span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;">'+ v.zan+'</span></a></div>' +
                        '<div class="weui-flex-item" style="text-align: center;"><a href="javascript:;" onclick="huifu('+ v.id+')" class="review">' +
                        '<img src="{ASSETS_PATH}img/pinglun.png" alt="" style="width:20px;vertical-align: middle;">' +
                        '<span style="font-size: .373rem;color: #999;vertical-align: middle;line-height: 1;display: inline-block;">'+ v.pl+'</span> ' +
                        '</a><input value="'+ v.id+'" hidden></div></div></div></li>'
                    });

                    $("#zhengwen").append(html);

                }
            }
        });
    }
    function huifu(tid){
        $("#tid").val(tid);
        $(".panel").css("display","block");
    }
</script>
<script  src="{ASSETS_PATH}/qqFace/js/jquery.min.js"></script>
<script type="text/javascript" src="{ASSETS_PATH}/qqFace/js/jquery.qqFace.js"></script>
<script type="text/javascript">

    $(function(){

        $('.emotion').qqFace({

            id : 'facebox',

            assign:'saytext',

            path:'{ASSETS_PATH}/qqFace/arclist/'	//表情存放的路径
        });

    });

    //查看结果

    function replace_em(str){
        str = str.replace(/\</g,'&lt;');

        str = str.replace(/\>/g,'&gt;');

        str = str.replace(/\n/g,'<br/>');

        str = str.replace(/\[em_([0-9]*)\]/g,'<img src="{ASSETS_PATH}qqFace/arclist/$1.gif" border="0" />');
        $("#show").html(str);

    }

</script>
<script>
    var images = new Array();
    var serids = new Array();
    function upload_img() {
        var count=images.length;
        wx.ready(function () {
            wx.chooseImage({
                count: 3-count,
                sizeType: ['original', 'compressed'],
                sourceType: ['album', 'camera'],
                success: function (res) {
                    $.each(res.localIds,function (k,v) {
                        show_img(v);
                        images.push(v);
                    });
                }
            });
        });
    }

    function show_img(local) {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {//安卓手机
            $(".weui_uploader_bd").show();
            var str = '<li class="weui_uploader_file" local="' + local + '" style="background-image:url(' + local + ')"><i class="clear_del weui_icon_cancel" onclick="del_img(' + "'" + local + "'" + ')" </i></li>';
            $(".weui_uploader_files").append(str);
        }else if (u.indexOf('iPhone') > -1) {//苹果手机
            wx.getLocalImgData({
                localId: local, // 图片的localID
                success: function (res) {

                    var localData = res.localData; // localData是图片的base64数据，可以用img标签显示
                    $(".weui_uploader_bd").show();
                    var str = '<li class="weui_uploader_file" local="'+localData+'" style="background-image:url('+localData+')"><i class="clear_del weui_icon_cancel" onclick="del_img('+"'"+localData+"'"+')" </i></li>';
                    $(".weui_uploader_files").append(str);
                }
            });
        }else if (u.indexOf('Windows Phone') > -1) {//winphone手机
            alert("winphone手机");
        }
    }


    function del_img(local) {
        $.each(images,function (k,v) {
            if(v == local)
            {
                images.splice(k);
            }
        });
        $(".weui_uploader_file").each(function () {
            if($(this).attr('local') == local)
            {
                $(this).remove();
            }
        });
    }

    function upload_video() {
        $("#upload_video").toggle();
    }

    function doUpload () {
        if (images.length == 0) {
            doSave(0);
        }else {
            var i = 0, length = images.length;
            images.serverId = [];
            function upload() {
                wx.uploadImage({
                    localId: images[i],
                    success: function (res) {
                        i++;
                        images.serverId.push(res.serverId);
                        if (i < length) {
                            upload();
                        }
                        else
                        {
                            var media_ids = images.serverId.join(',');
                            doSave(media_ids);
                        }
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
            }
            upload();
        }
    }

    function doSave(ids) {
        if(ids != 0)
        {
            $("input[name='images']").val(ids);
        }
        if($("#saytext").val() == "")
        {
            alert("评论内容不能为空!");
            return false;
        }
        $("#post_form").submit();
    }



</script>
