<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图片管理</title>
</head>
<link rel="stylesheet" href="assets/css/bootstrap.min.css?v=1.0">
<link rel="stylesheet" href="assets/css/amazeui.min.css?v=1.0"/>
<style>a,a:hover{text-decoration:none;}.pagination{font-size:12px;}.left-li{color:#ffffff;text-align:center;padding:12px 0px;font-size:14px;cursor:pointer;}.right-img{float:left;}::-webkit-scrollbar{width:3px;height:3px;background-color:#F5F5F5;}::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background-color:#F5F5F5;}::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#555;}.select_group{background-image:linear-gradient(120deg,#89f7fe 0%,#66a6ff 100%);}.right-x{position:absolute;right:10px;top:-14px;height:30px;width:30px;background-color:rgba(255,0,51,0.7);border-radius:50%;text-align:center;line-height:30px;cursor:pointer;}.right-img-li{cursor:pointer;width:120px;height:120px;box-shadow:10px 5px 10px 0px rgb(204,204,204);border-radius:5px;}.img-select{box-shadow:0px 0px 5px 5px rgb(102,153,255)!important;}</style>
<body style="width:100%;height:100%;">
<div class="am-g">
    <div class="am-u-sm-2" style="padding:0px;">
        <div style="min-height:600px;;background-color: #212121">
            <div style="color: #fff;text-align: center;padding: 30px 0px 15px 0px;;font-size: 20px;font-weight: 700;">
                图库编辑 <span class="am-icon-picture-o"></span>
            </div>
            <div style="cursor:pointer;margin: 30px auto;color:#ffffff;background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);height: 38px;width: 120px;font-size: 15px;text-align: center;line-height: 38px;border-radius: 20px;" onclick="sngchoice();">
                <span class="am-icon-jsfiddle"></span>本地上传
            </div>
            <form id="snup" style="display: none;">
                <input type="file" id="sngpic" name="sngpic" onchange="snuload();">
            </form>
            <div style="cursor:pointer;margin: 30px auto;color:#ffffff;background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);height: 38px;width: 120px;font-size: 15px;text-align: center;line-height: 38px;border-radius: 20px;" onclick="unImgsBatch();">
                <span class="am-icon-times"></span>批量删除
            </div>
            <div id="umoving" data-am-modal="{target: '#plectron', closeViaDimmer: 0, width: 400, height: 225}" style="cursor:pointer;margin: 30px auto;color:#ffffff;background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);height: 38px;width: 120px;font-size: 15px;text-align: center;line-height: 38px;border-radius: 20px;">
                <span class="am-icon-exchange"></span>移动图片
            </div>
        </div>
    </div>
    <div class="am-u-sm-10" style="padding:0px;">
        <div  style="width: 100%;min-height:600px;box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);">
            <div style="cursor:pointer;margin-left: 20px;float:left;margin-top: 25px;color:#ffffff;background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);height: 30px;width: 90px;font-size: 10px;text-align: center;line-height: 30px;border-radius: 20px;" onclick="uselectAll();">
                <span class="am-icon-check-square-o"></span>全部选择
            </div>
            <div style="clear:both;height:0"></div>
            <div class="test-5" style="padding: 20px;height: 436px;width: 100%;margin-top:10px;overflow: auto;">
                <ul class="am-avg-sm-5 am-thumbnails">
                    {volist name="gallery" id="vo"}
                    <li style="position: relative;text-align: center;">
                        <img class="right-img-li" src="{$vo.img_url}" alt="{$vo.img_title}" title="{$vo.img_title}" onclick="spicking(this);" data-urid="{$vo.id}" />
                    </li>
                    {/volist}
                </ul>
            </div>
            <div style="text-align: center;">
                {$gallery->render()}
            </div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="plectron">
    <div class="am-modal-dialog" style="background: #ffffff;">
        <div class="am-modal-hd" style="margin-top: 30px;">选择目标图库
            <a href="javascript: void(0);" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-form">
            <div class="am-modal-bd">
                <div class="am-form-group">
                    <select id="gclasid">
                        {volist name="gclassify" id="vo"}
                        <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
                    <span class="am-form-caret"></span>
                </div>
            </div>
        </div>
        <div style="cursor:pointer;margin: 0px auto;color:#ffffff;background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);height: 38px;width: 120px;font-size: 15px;text-align: center;line-height: 38px;border-radius: 20px;" onclick="galleryStir();">
            确定
        </div>
    </div>
</div>
</body>
<script src="assets/js/jquery.min.js?v=1.0"></script>
<script src="assets/js/amazeui.min.js?v=1.0"></script>
<script src="assets/js/bootstrap.min.js?v=1.0"></script>
<script>

    !function () {
        $('#umoving').click(function () {
            var i = 0;
            $('.right-img-li').each(function () {
                if ($(this).hasClass('img-select')) {
                    i++;
                    return false;
                }
            });
            if (i == 0) {
                parent.layer.msg('请选择要移动的图片');
                return false;
            }
        });
    }();


    function sngchoice() {
        $('#sngpic').click();
    }
    function snuload() {
        var animateimg = $("#sngpic").val();
        var imgarr = animateimg.split('\\');
        var imgname = imgarr[imgarr.length - 1];
        var suffix = imgname.lastIndexOf('.');
        var ext = imgname.substring(suffix, imgname.length).toUpperCase();
        var file = $('#sngpic').get(0).files[0];
        var fileSize = file.size;
        var maxSize = 3145728;
        if (ext != '.PNG' && ext != '.GIF' && ext != '.JPG' && ext != '.JPEG' && ext != '.BMP') {
            parent.layer.msg('文件类型错误,请上传图片类型');
            $('#sngpic').val('');
            return false;
        } else if (parseInt(fileSize) >= parseInt(maxSize)) {
            parent.layer.msg('上传的文件不能超过3MB');
            $('#sngpic').val('');
            return false;
        } else {
            parent.layer.load();
            var sngpic = new FormData($('#snup')[0]);
            $.ajax({
                type: "post",
                url: "{:url('upload/operate')}&gclasid={$gclasid}&picture=library",
                async: false,
                data: sngpic,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    setTimeout(function () {
                        parent.layer.closeAll('loading');
                        if (data.status == 'success') {
                            location.reload();
                        } else {
                            parent.layer.msg('上传失败，请检查上传配置');
                        }
                        $('#sngpic').val('');
                    }, 1600);
                }
            });
        }
    }

    function unImgsBatch() {
        var i = 0;
        $('.right-img-li').each(function () {
            if ($(this).hasClass('img-select')) {
                i++;
                return false;
            }
        });
        if (i == 0) {
            parent.layer.msg('请选择要删除的图片');
            return;
        }
        var j = 0;
        $('.img-select').each(function () {
            var euid = $(this).attr('data-urid');
            $.ajax({
                type: "post",
                url: "{:url('images/unimgs')}",
                async: false,
                data: {'euid': parseInt(euid)},
                dataType: 'json',
                success: function (data) {
                    j++;
                    if (j == $('.img-select').length) {
                        if (data.code > 0) {
                            parent.layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                location.reload();
                            });
                        } else {
                            parent.layer.msg(data.msg, {icon: 5, time: 1000});
                        }
                    }
                }
            });
        });
    }

    function galleryStir() {
        var j = 0;
        $('.img-select').each(function () {
            var euid = $(this).attr('data-urid');
            var gclasid = $('#gclasid').val();
            $.ajax({
                type: "post",
                url: "{:url('images/stirGallery')}",
                async: false,
                data: {'euid': parseInt(euid), 'gclasid': gclasid},
                dataType: 'json',
                success: function (data) {
                    j++;
                    if (j == $('.img-select').length) {
                        if (data.code > 0) {
                            parent.layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                location.reload();
                            });
                        } else {
                            parent.layer.msg(data.msg, {icon: 5, time: 1000});
                        }
                    }
                }
            });
        });
    }


    function spicking(obj) {
        if ($(obj).hasClass('img-select')) {
            $(obj).removeClass('img-select');
        } else {
            $(obj).addClass('img-select');
        }
    }
    function uselectAll() {
        var i = 0;
        var j = 0;
        $('.right-img-li').each(function () {
            if ($(this).hasClass('img-select')) {
                i++;
            }
            j++;
        });
        if (i == j) {
            var hasClassImgSelect = false;
        } else {
            var hasClassImgSelect = true;
        }
        if (hasClassImgSelect) {
            $('.right-img-li').addClass('img-select');
        } else {
            $('.right-img-li').removeClass('img-select');
        }
    }
</script>
</html>
